<div class='wrapper'>
  <%= render 'header' %>
  <div class='main'>
    <div class='task-wrapper'>
      <% if @task.errors.any? %>
        <% @task.errors.full_messages.each do |message| %>
          <p>
            <%= message %>
          </p>
        <% end %>
      <% else %>
        タスクを編集しました
      <% end %>
      <%= link_to "#{@board.name}に戻る", {:controller => 'tasks', :action => 'index', board_id:@board.id}, class:'error-btn' %>
    </div>
  </div>
</div>