<div class='main'>
  <div class='inportance1'>
    <div class='urgence1'>
      <ul>
        <li class='task-card'>Task1</li>
        <li class='task-card'>Task2</li>
      </ul>
    </div>
    <div class='urgence2'>
      <div class='task-card'>
        Task
      </div>
    </div>
    <div class='urgence3'>
      <div class='task-card'>
        Task
      </div>
    </div>
    <div class='urgence4'>
      <div class='task-card'>
        Task
      </div>
    </div>
  </div>
  <div class='inportance2'>
    <div class='urgence1'>
      <div class='task-card'>
        Task
      </div>
    </div>
    <div class='urgence2'>
      <div class='task-card'>
        Task
      </div>
    </div>
    <div class='urgence3'>
      <div class='task-card'>
        Task
      </div>
    </div>
    <div class='urgence4'>
      <div class='task-card'>
        Task
      </div>
    </div>
  </div>
  <div class='inportance3'>
    <div class='urgence1'>
      <div class='task-card'>
        Task
      </div>
    </div>
    <div class='urgence2'>
      <div class='task-card'>
        Task
      </div>
    </div>
    <div class='urgence3'>
      <div class='task-card'>
        Task
      </div>
    </div>
    <div class='urgence4'>
      <div class='task-card'>
        Task
      </div>
    </div>
  </div>
  <div class='inportance4'>
    <div class='urgence1'>
      <div class='task-card'>
        Task
      </div>
    </div>
    <div class='urgence2'>
      <div class='task-card'>
        Task
      </div>
    </div>
    <div class='urgence3'>
      <div class='task-card'>
        Task
      </div>
    </div>
    <div class='urgence4'>
      <div class='task-card'>
        Task
      </div>
    </div>
  </div>
</div>