.wrpper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  height: 100px;
  background-color: lightblue;
  padding: 0 50px;
}

.header-top {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  color: lightskyblue;
  font-size: 30px;
  text-decoration: none;
  transition: all 3s ease 0s;
}

.header-logo:hover {
  color: aliceblue;
}

.user-name-wrapper {
  display: flex;
  align-items: center;
}

.user-name {
  color:aliceblue;
  font-size: 20px;
  padding-right: 30px;
  cursor: default;
}

.logout {
  background-color: aliceblue;
  color: lightblue;
  text-decoration: none;
  padding: 5px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-wrapper {
  display: flex;
  align-items: center;
}

.board-name {
  font-size: 30px;
  color: aliceblue;
  cursor: default;
}

.board-menu {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.add-board {
  height: 20px;
}

.mini-btn {
  color: aliceblue;  
  background-color: lightblue;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.mini-btn:hover {
  color: lightblue;
  background-color: aliceblue;
}

.change-board {
  background-color: lightblue;
  color: aliceblue;
  border: none;
  margin-top: 3px;
  height: 20px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.change-board:hover {
  background-color: aliceblue;
  color: lightblue;
}

.add-task {
  background-color: aliceblue;
  color: lightblue;
  text-decoration: none;
  padding: 5px;
}

.main {
  height: calc( 100vh - 100px );
  width: 100%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inportance1, .inportance2, .inportance3, .inportance4 {
  height: 25%;
  width: 100%;
  display: flex;
}

.urgence1, .urgence2, .urgence3, .urgence4 {
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inportance2 {
  border-bottom: 1px solid aliceblue;
}

.urgence2 {
  border-right: 1px solid aliceblue;
}

.urgency-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: lightgray;
}

.urgency {
  color: gray;
  cursor: default;
}

.task-card {
  background-color: aliceblue;
  margin: 5px;
  padding: 15px;
  cursor: pointer;
  transition: all 1s ease 0s;
}

.task-card:hover {
  transform: scale(1.1, 1.1);
}