.task-wrapper {
  background-color: lightgray;
  height: calc( 100vh - 100px );
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: gray;
  padding: 30px;
}

.task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

textarea {
  border: none;
  background-color: aliceblue;
  height: 100px;
}

.select, .date_field, .number_field{
  border: none;
  background-color: aliceblue;
  color: gray;
}

.hour-wrapper {
  background-color: aliceblue;
  margin: 20px;
  padding: 0 10px;
}

.hour {
  color: gray;
}

.error-btn {
  text-decoration: none;
  color: gray;
  margin-top: 20px;
}

.error-btn:hover {
  color: aliceblue;
}

div[data-check="true"] {
  background-color: lightgray;
  color: gray;
}

.task-info {
  font-size: 12px;
  color: gray;
  text-align: left;
  padding: 5px;
  margin-top: 15px;
  border: 1px solid lightgray;
  border-radius: 10px;
  display: none;
}

.task-info-text {
  white-space: pre-wrap;
  margin-left: 10px;
}

.edit-link {
  padding: 2px 5px;
  margin: 5px;
  color: gray;
  border: 1px solid lightgray;
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.3s;
}

.edit-link:hover {
  background-color: lightgray;
}
