.task-wrapper {
  background-color: lightgray;
  height: calc( 100vh - 100px );
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: gray;
  padding: 30px;
}

.task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

textarea {
  border: none;
  background-color: aliceblue;
  height: 100px;
}

.select, .date_field, .number_field{
  border: none;
  background-color: aliceblue;
  color: gray;
}

.hour-wrapper {
  background-color: aliceblue;
  margin: 20px;
  padding: 0 10px;
}

.hour {
  color: gray;
}